article{
    outline: 4px solid green;
}

article a{
    color: red;
}

article a > b{
    color: green;
}

h3 + p{
    background-color: yellow;
}

h3 ~ p{
    border: 4px dashed orange;
}

.destaque{
    padding-left: 2rem;
}

 article :not(.destaque){
    background-color: #aeadad;
 }